version: '3.8'
services:
  backend:
    build:
      context: ./hamza-server
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: always
    depends_on:
      - postgres
      - redis
    ports:
      - "9000:9000"
      - "7005:7000"
      - "7001:7001"

  storefront:
    build:
      context: ./hamza-client
      dockerfile: Dockerfile
    env_file:
      - .env.local
    restart: always
    depends_on:
      - backend
    ports:
      - "8000:8000"

  postgres:
    env_file:
      - .env
    image: postgres:15.6
    restart: always
    volumes:
      - postgres:/var/lib/postgresql/data
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U postgres"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
    ports:
      - "5432:5432"

  redis:
    image: redis:6.2.14
    restart: always
#    healthcheck:
#      test: ["CMD", "redis-cli", "ping"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
    ports:
      - "6379:6379"

volumes:
  postgres:
